/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/

.full-view-container {
  width: 90%;
  margin: 0px auto 25px auto;
  padding: 100px 0px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: no-repeat 0% 50% / cover url('../assets/images/vecteezy_landscaped-garden-with-concrete-stairs-and-decorative_24630332_251.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-view-container > h1 {
  width: 80%;
  margin: 0px auto;
  text-align: left;
  font-size: 2rem;
  color: white;
}

.full-view-container > p {
  width: 80%;
  margin: 0px auto;
  text-align: left;
  font-size: 1rem;
  color: white;
}

#work-cta {
  width: 90%;
  margin: 25px auto;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 100px;
  background: rgb(191, 250, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#work-cta > h3 {
  color:black;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0px;
}

#work-cta > hr {
  width: 2.5%;
  border: 1px solid black;
}

#services {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 50px 0px 20px 0px;
}

#services > h2 {
  width: 80%;
  margin: 0px auto 50px auto;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
}

#services > div {
}

#services > div > div {
  width: 90%;
  margin: 0px auto 25px auto;
  border-radius: 25px;
  height: 300px;
  transition: all .25s linear;
}

#services > div > div:last-child {
  margin-bottom: 0px;
}

#services > div > div > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services > div > div > div > h3 {
  color: rgb(191, 250, 202);
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  /* background: rgba(255, 255, 255, 0.75); */
  padding: 10px 0px;
  transition: all .25s linear;
  margin: 0px;
}

#services > div > div > div > a {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  opacity: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: white;
  border-radius: 25px;
  transition: all .25s linear;
  text-decoration: none;
}

/* #services > div > div.hovered > div > h3{
  color: black;
  background: white;
  padding: 25px 0px;
  transition: all .25s linear;
} */
#services > div > div.hovered > div > a{
  opacity: 1;
  transition: all .25s linear;
}

@media (min-width: 768px) {
  .full-view-container{
    height: 39vh;
  }

  .full-view-container > h1 {
    font-size: 2.75rem;
  }
  
  .full-view-container > p {
    font-size: 1.25rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .full-view-container{
    height: 47.5vh;
  }

  .full-view-container > h1 {
    font-size: 2.75rem;
  }
  
  .full-view-container > p {
    font-size: 1.25rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .full-view-container{
    height: 60vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .full-view-container > h1 {
    font-size: 3rem;
  }
  
  .full-view-container > p {
    font-size: 1.5rem;
  }

  #work-cta {
    height: 200px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
  }
  
  #work-cta > h3{
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  #services {
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    padding: 50px 0px;
  }

  #services > h2 {
    font-size: 2rem;
  }
  
  #services > div {
    width: 90%;
    margin: auto;
    padding: 0px 0px;
    display: flex;
  }
  
  #services > div > div {
    width: 95%;
    margin: 0px auto;
    border-radius: 0px;
    width: 25%;
    height: 60vh;
  }
  
  #services > div > div > div > h3 {
    background: rgb(255, 255, 255);
  }

  #services > div > div > div > p {
    font-size: 1.25rem;
  }
  
  #services > div > div.hovered {
    height: 60vh;
    width: 50%;
  }
  #services > div > div.hovered > div > h3 {
    font-size: 2.25rem;
    padding: 10px 10px;
  }
}

/* Used to adjust navigation bar title to give space between left and right nav sections. */
@media (min-width: 1350px) {
  .full-view-container{
    height: 68vh;
  }

  .full-view-container > h1 {
    font-size: 5.5rem;
  }
  
  .full-view-container > p {
    font-size: 1.5rem;
  }

  #services > h2 {
    font-size: 2.5rem;
  }
  
  #services > div {
    width: 90%;
    margin: auto;
    padding: 0px 0px;
    display: flex;
  }
  
  #services > div > div {
    width: 25%;
    height: 60vh;
  }

  #services > div > div > div > h3 {
    font-size: 3rem;
  }

  #services > div > div > div > p {
    font-size: 1.5rem;
  }
  
  #services > div > div.hovered {
    height: 60vh;
  }

  #services > div > div.hovered > div > h3{
    font-size: 3rem;
  }
}