/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/
.hidden{
  display: none!important;
}

.active{
  font-weight: 800;
}

#main-header{
  background: white;
  height: 75px;
}

#nav-menu-container{
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#left-nav-section{
  width: 50%;
  display: inline-block;
}

/* Inside left-nav-section */
#company-label{
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px 0px;
}

#company-label > a {
  font-family: 'Cairo Play', sans-serif;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 120%;
  text-decoration: none;
  color: black;
}

#company-label > span {
  text-align: right;
  color: black;
}
/* End of left-nav-section */

#right-nav-section{
  width: 50%;
  display: inline-block;
}

/* Inside right-nav-section */
#right-nav-section > #collapsible-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}

#options {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: 3px solid black;
  padding: 0px;
  width: 100%;
}

#options > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 10px 0px;
  margin: 0px 15px;
  border-top: 1px solid gray;
  text-align: center;
}

#options > a:first-child{
  border-top: none;
}

#options > a:last-child{
  background: rgb(229,58,53);
  border-top: none;
  margin: 0px 10px 10px 10px;
}

#options > a.hovered{
  color:red;
  font-weight: 600;
}

#options > a:last-child.hovered{
  color: black
}
/* End of right-nav-section */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  #main-header{
    height: 100px;
  }

  #nav-menu-container{
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  #left-nav-section{
    width: max-content;
  }
  
  /* Inside left-nav-section */
  #company-label{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: auto;
    padding: 10px 15px;
  }
  /* End of left-nav-section */

  #right-nav-section{
    width: max-content;
  }
  
  /* Inside right-nav-section */
  #options {
    position: static;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    border-top: none;
    width: max-content;
  }
  
  #options > a {
    font-size: 1rem;
    padding: 0px;
    margin: 0px 5px;
    border-top: none;
  }

  #options > a:last-child {
    margin: 0px 0px 0px 10px;
    padding: 10px 20px;
    border-radius: 15px;
  }
  
  #options > a.hovered{
    color:red;
  }
}

@media (min-width: 1300px) {
  #company-label > a {
    font-size: 2rem;
  }

  #options > a {
    font-size: 1.10rem;
    padding: 0px;
    margin: 0px 10px;
    border-top: none;
  }
}

@media (min-width: 1400px) {
  #company-label > a {
    font-size: 2.25rem;
  }
  
  #options > a {
    font-size: 1.20rem;
    margin: 0px 15px;
  }
}

@media (min-width: 1500px) {
  #company-label > a {
    font-size: 2.5rem;
  }
  
  #options > a {
    font-size: 1.25rem;
    margin: 0px 15px;
  }
}