.i-button{
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 100%;
  cursor: pointer;
}

.i-button.hovered{
  transform: scale(1.01);
}

a.i-button{
  text-decoration: none;
}